{%extends 'base.html'%}

{%block title%}
Employee list
     {% endblock title%}
{%block content%}
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>fullname</th>
            <th>Emp code</th>
            <th>Position</th>
            <th>mobilenumber</th>
            <th>email</th>
            <th><a href="{% url 'employee_form'%}"><button class="btn btn-success" >ADD NEW</button></a></th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employeelist%}
            <tr>

                <td>{{employee.name}}</td>
                <td>{{employee.emp_code}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.mobilenumber}}</td>
                <td>{{employee.email}}</td>
                <td><a href="{% url 'employee_update' employee.id%}" class="btn text-secondary px-0 ">
                    <button class="btn btn-primary update-button">update</button>
                </a></td>
                <td><a href="{% url 'employee_delete' employee.id%}" class="btn text-secondary px-0 ">
                    <button class="btn btn-danger update-button">Delete</button>
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock content%}